body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1e1e1e;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body, body p, body td, body li {
  line-height: 1.5;
}

.btn, .btn-large, .btn-medium, .btn-small {
  border-radius: 4px!important;
  margin-right:5px; 
}

.main-content {
  flex: 1 0 auto; 
}

h1 {
  font-weight: normal;
}

h1,h2,h3,h4,h5,h6, #title {
  font-weight: normal;
}

article h4 {
  font-weight: 700;
}

h3 code {
  font-size: 20px;
}

pre code {
    font-size: 14px;
}

#title {
  font-size: 38.5px;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  margin-bottom:20px;
}
article h2, article h3, article h4, article h5, article h6 {
  margin-top:20px;
}

article h3 {
  border-bottom:1px dotted #ddd;
}

article h2 {
  border-bottom:1px dotted #aaa;
}

a, a:hover, a > code {
  color: #257fc2;
}

.contribution {
  color: #ccc;
}

.contribution a {
  color: #444;
}

.contribution .fa {
  color: #999;
}

.authors img {
    margin-bottom: 2px;
}

.contributors a {
    margin-bottom: 2px;
}

@media (max-width: 767px) {
  body {padding:0}
  .container {
    padding: 0 20px;
    margin: 0;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
  }
  
  main.container section {
    display: flex;
    flex-direction: column;
  }
  main.container section article {
    order: 1;
  }
  main.container section nav {
    order: 2;
  }
  
  nav#sidebar {
    margin-top:20px;
  }
  
  /* only display main categories on mobile */
  nav#sidebar.sidebar-toc li li { 
    display:none;
  }
  nav#sidebar.sidebar-toc br {
    display:none;
  }
  
  /* display tags inline on mobile */
  nav#sidebar.sidebar-tags li { 
    display:inline-block;
    border-left:0;
    margin-right:20px;
  }
}

@media (max-width: 500px) {
  body .hero-unit h3 {
    font-size: 90%;
  }
  
  body .hero-unit {
    padding: 2em;
  }

  body .hero-unit h3 br {
    display: none;
  }
}

@media (min-width: 979px) {
  .hero-unit, .hero-unit-small {
    margin-top: 49px;
  }

  body .hero-unit h3 br {
    display: block;
  }
}

.hero-unit, .hero-unit-small {
  background: #FBC707;
  
  background-repeat: no-repeat;
  background: -webkit-gradient(radial, 50% 80%, 0, center center, 100, from(183,77,49), to(100,33,38));
  background: -webkit-radial-gradient(50% 80%, circle, rgb(183,77,49), rgb(100,33,38));
  background: -moz-radial-gradient(50% 80%, circle, rgb(183,77,49), rgb(100,33,38));
  background: -ms-radial-gradient(50% 80%, circle, rgb(183,77,49), rgb(100,33,38));
  
  color: #f0f0f0;
  text-align: center;
  border-radius: 0;
}

.hero-unit {
  padding: 4em;
  margin-bottom: 0;
  box-shadow: inset 0px 0px 50px rgba(0,0,0, 0.35);
}

.hero-unit-small {
  padding: 2em 0;
  margin-bottom: 1.5em;
  border-bottom: 15px solid #eee;
  box-shadow: inset 0px 0px 50px rgba(0,0,0, 0.3);
}

.hero-unit h1, #title, .hero-unit-small h1 {
  color: #fff;
  text-shadow:2px 2px 2px rgba(0,0,0,.15);
}

.hero-unit h1 small, #title small, .hero-unit-small h1 small {
  color: #C06B69;
}

.hero-unit-small h1, .hero-unit-small #title {
  margin-bottom: 0em;
}

.logo {
  width: 80%;
  max-width: 140px; 
  max-height: 230px;
  margin: 1em;
}

.hero-unit-small .logo {
  margin: 1%;
  margin: 0em;
  max-width: 401px; 
  max-height: 90px;
}

.hero-unit h3.lead {
  color: #EA8220;
}

.hero-unit a, .hero-unit a:hover {
  color: #FBC707;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
}

.dark {
  background: rgb(20,20,25);
  color: #fff;
}

.dark-section {
  background: rgb(20,20,25);
  color: #fff;
  padding: 2em 1em;
}

footer {
  margin-top: 40px;
  font-size: 14px;
  flex-shrink: 0;
}

.copyright {
  padding: 6px;
  overflow: hidden;
  text-align: center;
  margin: 40px 0;
}

blockquote {
  margin-left: 30px;
  border-left: 4px solid #eee;
  font-style: italic;
  padding: 15px 15px 15px 30px;
}

blockquote.author-info {
  border-left: 4px solid #EA8220;
}

.dark a, .dark a:hover, .dark a:active {
  color: rgb(234,130,32);
}

.dark a.flashdevelop, .dark a.flashdevelop:hover, .dark a.flashdevelop:active {
  color: #eee;
  text-decoration: underline;
}

.btn-success {
  background: rgb(234,130,32);
}

.btn-success:hover,.btn-success:focus, .btn-success:active, .btn-success.active {
  color: #ffffff;
  background: #e5801f;
}

nav#sidebar * {
  line-height: 1.5em;
}

nav#sidebar li.active {
  font-weight: bold;
}

nav#sidebar li.active li {
  font-weight: normal;
}

nav#sidebar li {
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

nav#sidebar li li {
  border-left: 0;
  font-size: 14px;
}

nav#sidebar li li a {
  color: #777;
}

article table {
  min-width:100%;
}

article table tr:not(:last-child) {
  border-bottom:1px solid #ccc;
}

article table td:not(:first-child), article table th:not(:first-child)  {
  border-left:1px solid #ccc;
}

article table td, article table th {
  padding:3px 5px;
  text-align:left;
}

article table td:first-child, article table th:first-child { 
  width:140px;
}

code.prettyprint { 
  padding: 0.5em;
  display: block;
}

.tag { 
  padding-left:5px;
  padding-right:10px;
}

.tag small {
  color:#999;
  font-size:80%;
}

.tag a {
  color:#A84B38;
}
.tag a:hover {
  color:#EA8220;
}

.fa {
  color:#555;
}

.fa-big {
  font-size:32px;
  color:#555;
  padding-left:15px;
  padding-right:15px;
}

.btn {
  margin-bottom: 5px;
}

.try-haxe {
  width:100%;
  height:350px;
  margin:0;
  border:0px;
}

.page-list-item:not(last-child) {
	margin-bottom:20px;
}

.page-list-item p {
	margin-left:10px;
}

.page-list h4 {
	font-weight:normal;
}

.page-list-item {
	padding: 1px 15px 15px 15px;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	background:#fdfdfd;
}

.g-plus, #___plus_0 { vertical-align: text-bottom !important; }
.twitter-share-button { vertical-align: text-bottom !important; }



.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}
